:root {
  --developer-blue: #023852;
  --milestone-blue: #0099de;
  --alt-blue: #0081c1;
  --light-gray: #e5e9eb;
  --dark-gray: #373737;
  --milestone-yellow: #ffe700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

/* Button Styles */

.white-btn {
  text-decoration: none;
  padding: 15px 40px;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 30px;
  background: white;
  color: var(--developer-blue);
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;
}

.main-button-magin {
  margin: 30px 0 30px 0;
}

.blue-btn {
  text-decoration: none;
  padding: 15px 40px;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 30px;
  background: var(--milestone-blue);
  color: white;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;
}

.border-btn {
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid white;
  outline: none;
  border-radius: 30px;
  background: transparent;
  color: white;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;
}

/* Navigation Bar */

.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  max-height: 80px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links {
  color: var(--developer-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  font-weight: 900;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 1rm; */
  width: 100%;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 50px;
  background: var(--developer-blue);
  color: white;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;
}

.navbar__links:hover {
  color: #0099de;
  transition: all 0.3s ease;
}

.button:hover {
  transition: all 0.3s ease;
  background: #0099de;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 90vh;
    font-size: 1.4rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--developer-blue);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
    margin: 20px 0 0 0;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Modal for "Sign up" button */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: white;
  width: 30%;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* margin-top: 15vh; */
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8); */
}

.modal button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  background-color: var(--milestone-blue);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 0.6rem 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.input-container-signup {
  position: relative;
  padding-bottom: 20px;
}

.input-container-signup label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-100%);
  padding: 0 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 800;
  transition: 0.5s;
}

.input-container-signup span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container-signup span::before,
.input-container-signup span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.input-container-signup span:before {
  left: 50%;
}

.input-container-signup span:after {
  right: 50%;
}

.input-container-signup.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container-signup.focus span:before,
.input-container-signup.focus span:after {
  width: 50%;
  opacity: 1;
}

/* Form validation style */
.input-container-signup i {
  position: absolute;
  top: 12px;
  right: 10px;
  visibility: hidden;
}

.input-container-signup small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* Active classes if input successful */

.input-container-signup.success input {
  border-color: #2ecc71;
}

.input-container-signup.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

/* Error classes if input is not successful */
.input-container-signup.error input {
  border-color: #e74c3c;
}

.input-container-signup.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.input-container-signup.error small {
  visibility: visible;
  color: #e74c3c;
}

/* ----------------------- Hero Section ------------------- */

.hero {
  background-image: url(assets/hero-img.png);
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 60px;
  margin-bottom: 24px;
  color: white;
}

.hero__description {
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.highlight {
  border-bottom: 4px solid var(--milestone-blue);
}

.btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.btn__item {
  padding: 2rem 2rem 0;
  width: 100%;
}

.typing {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 50px;
  }

  .hero__description {
    font-size: 25px;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
  }

  .btn__item {
    padding: 2rem;
    width: 100%;
  }
}

/*----------------- About Section ---------------------------------*/

.main {
  background-color: var(--light-gray);
  padding-top: 1rem;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 2rem;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

.main__content {
  color: var(--dark-gray);
  width: 100%;
}

.main__content h3 {
  font-size: 1rem;
  color: var(--alt-blue);
}

.main__content h1 {
  font-size: 2rem;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.main__img--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.main__img--container img {
  max-width: 70%;
}

/* img {
  max-width: 100%;
  margin-bottom: 2rem;
} */

/* Main Mobile Responsive */

@media screen and (max-width: 800px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
    order: 1;
    margin: 1rem 0;
  }

  .main__img--container img {
    max-width: 50%;
  }

  .main__content {
    text-align: center;
    padding: 0 1.5rem;
    order: 0;
  }

  .main__content h3 {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
}

/*----------------- Downloads Page ---------------------------------*/

#downloads {
  background-image: url(assets/nuget.png);
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.links a {
  text-decoration: none;
  color: var(--developer-blue);
  font-weight: 600;
}

/* Modal for SDK Dwonload form */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.background-active {
  visibility: visible;
  opacity: 1;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-info {
  background: var(--milestone-blue);
  padding: 0.5rem;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.modal-info p {
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: 13px;
}

.modal-info h1 {
  font-size: 25px;
  font-weight: 300;
  margin: 20px;
}

.modal-x {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.form-container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-btn {
  cursor: pointer;
}

.input-container {
  position: relative;
  margin: auto;
  padding-bottom: 20px;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-100%);
  padding: 0 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 800;
  transition: 0.5s;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

/* Form validation style */
.input-container i {
  position: absolute;
  top: 12px;
  right: 10px;
  visibility: hidden;
}

.input-container small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* Active classes if input successful */

.input-container.success input {
  border-color: #2ecc71;
}

.input-container.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

/* Error classes if input is not successful */
.input-container.error input {
  border-color: #e74c3c;
}

.input-container.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.input-container.error small {
  visibility: visible;
  color: #e74c3c;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 90%;
    margin-top: 10vh;
    max-height: 90vh;
    overflow-y: auto;
  }
}

/*----------------------- Footer ----------------- */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--developer-blue);
  color: white;
  font-size: 14px;
  padding: 3rem;
}

.some,
.additional-info {
  display: flex;
  flex-direction: row;
}

.connect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.connect p {
  margin-bottom: 20px;
  font-weight: 600;
}

.some,
.additional-info li {
  list-style-type: none;
  color: white;
}

.some li i {
  margin: 0 1.8rem;
  font-size: 22px;
}

.some,
.additional-info li a {
  text-decoration: none;
  color: white;
}

.some,
.additional-info li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    height: 20vh;
    padding: 1.5rem;
  }

  .additional-info {
    margin-top: 20px;
  }

  .milestone-copyrights {
    order: 3;
    margin-top: 10px;
  }
}

/*----------------- Thank you Page ---------------------------------*/

#thank-you {
  background-image: url(assets/developer-banner.png);
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-section {
  background-color: white;
}

/* Thanks for download MODAL */
.thanks-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.thanks-modal-active {
  visibility: visible;
  opacity: 1;
}

#thanks-modal {
  overflow-y: auto;
}

.modal img {
  max-height: 20vh;
}

.thanks-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

#btn-modal-back-home {
  cursor: pointer;
  margin: 20px 0;
}

#btn-modal-back-home a {
  text-decoration: none;
  color: white;
}

/*Based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--milestone-blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a:link i {
  color: white;
}

a:visited i {
  color: white;
}

a:hover i {
  color: white;
}

a:active i {
  color: white;
}
